In [18]:
from sklearn import datasets
import scikit_posthocs as sp
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('res_mnist_i50.csv')
df.head()

  ATTACK  AdvTraining  Destillation  Squeezing   AD
0  Clean            4             3         10  136
1  Clean           10             3         13  146
2  Clean            4             1          8  142
3  Clean           11             5         15  138
4  Clean            6             5         18  145

In [16]:
df['ATTACK'] = df['ATTACK'].astype('category')
print(df['ATTACK'])
df['ATTACK'] = df['ATTACK'].cat.codes.astype('long')
df.head()

0         Clean
1         Clean
2         Clean
3         Clean
4         Clean
         ...
295    Saliency
296    Saliency
297    Saliency
298    Saliency
299    Saliency
Name: ATTACK, Length: 300, dtype: category
Categories (6, object): [BIM, C&W, Clean, DeepFool, FGSM, Saliency]

   ATTACK  AdvTraining  Destillation  Squeezing   AD
0       2            4             3         10  136
1       2           10             3         13  146
2       2            4             1          8  142
3       2           11             5         15  138
4       2            6             5         18  145

In [19]:
a = np.array([[0, 0, 4],
                       [1, 0, 1],
                       [2, 0, 1],
                       [0, 1, 3],
                       [1, 1, 2],
                       [2, 1, 2],
                       [0, 2, 4],
                       [1, 2, 3],
                       [2, 2, 6],
                       [0, 3, 4],
                       [1, 3, 5],
                       [2, 3, 4],
                       [0, 4, 5],
                       [1, 4, 6],
                       [2, 4, 1],
                       [0, 5, 6],
                       [1, 5, 7],
                       [2, 5, 5],
                       [0, 6, 3],
                       [1, 6, 7],
                       [2, 6, 1]], dtype=np.float)

result = sp.posthoc_nemenyi_friedman(a, y_col=2, group_col=1, block_col=0, melted=True)[0].values

In [20]:
result

array([-1.        ,  0.9       ,  0.82163255,  0.9       ,  0.9       ,
        0.21477876,  0.9       ])